<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="ki.wardrive4"
          android:versionCode="6"
          android:versionName="1.5">

    <uses-sdk android:minSdkVersion="15"/>

	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
	<uses-permission android:name="android.permission.ACCESS_GPS"/>
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
	<uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.WAKE_LOCK"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <!-- For authenitcatio and sync adapters-->
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS"/>
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_SYNC_STATS" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />


    <!-- Use the holo dark since few designed icons are for dark backgrounds -->
    <application android:label="@string/app_name" android:icon="@drawable/logo" android:theme="@android:style/Theme.Holo">

        <uses-library android:name="com.google.android.maps"/>

        <activity android:name=".activity.Launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".activity.MapViewer"/>
        
        <activity android:name=".activity.Settings"/>
        
        <activity android:name=".authenticator.AuthenticatorActivity" android:theme="@android:style/Theme.Dialog"/>

        <service android:name=".service.ScanService"/>

        <service android:name=".service.WiFiParseService"/>

        <!-- WiFi content provider -->
        <provider android:name=".provider.wifi.WiFiContentProvider"
                  android:authorities="ki.wardrive4.provider.wifi"
                  android:exported="true">
            <grant-uri-permission android:pathPattern="content://ki.wardrive4.provider.wifi/.*"/>
        </provider>
        <!-- The authenticator service -->
        <service android:name=".authenticator.AuthenticationService" android:exported="true">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator"/>
            </intent-filter>
            <meta-data android:name="android.accounts.AccountAuthenticator" android:resource="@xml/authenticator"/>
        </service>
        <!-- The service that will sync the data -->
        <service android:name=".sync.wifi.WiFiSyncService" android:exported="true">
            <intent-filter>
                <action android:name="android.content.SyncAdapter"/>
            </intent-filter>
            <meta-data android:name="android.content.SyncAdapter" android:resource="@xml/wifi_syncadapter"/>
        </service>

    </application>

</manifest>
